---
import BaseHead from '../components/BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>

<div class="videoWrapper">
<iframe frameborder="0"  scrolling="no" width="100%" height="700" src="https://www.youtube.com/embed/tK1P_YbJMkw"></iframe></div>
	</body>
</html>
